<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>orders list</title>
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css?v=1.0}">
	<style>
		th {
			background-color: #880000;
		}

		td {
			background-color: rgb(1, 1, 105);
			color: white;
		}

		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swa');
	</style>
</head>

<body id="bodycadastro">
	<nav>
		<img th:src="@{https://static.vecteezy.com/ti/fotos-gratis/p1/14378558-o-fundo-gradiente-desfocado-preto-e-cinza-escuro-tem-um-pouco-de-luz-abstrata-fundo-macio-para-papel-de-parede-design-grafico-e-apresentacao-parede-de-pano-de-fundo-foto.jpg}"
			alt="Logo da Empresa">
	</nav>
	<div>
		<br>
		<table class="table">
			<thead class=".table-striped">
				<tr>
					<th>descrição</th>
					<th>observação</th>
					<th>data de entrada</th>
					<th>data de saida</th>
					<th>cpf proprietario</th>
					<th>placa do proprietario</th>
					<th>orçamento</th>
					<th>estatus pagamento</th>
					<th>editar</th>
					<th>excluir</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${orders.empty}">
					<td colspan="2"> nenhuma ordem registrada </td>
				</tr>
				<tr th:each="order : ${orders}">
					<td><span th:text="${order.description}">descrição</span></td>
					<td><span th:text="${order.note}">obs</span></td>
					<td><span th:text="${order.checkin}">checkin</span></td>
					<td><span th:text="${order.checkout}">checkout</span></td>
					<td><span th:text="${order.customerCpf}">cpf</span></td>
					<td><span th:text="${order.carPlate}">placa</span></td>
					<td><span th:text="${order.quote}">orçamento</span></td>
					<td><span th:text="${order.paymentStats}">estatus</span></td>
					<td><a th:href="@{/order/edit/{id} (id=${order.id})}">Editar</a></td>
					<td><a th:href="@{/order/delete/{id} (id=${order.id})}">Excluir</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>