<div class="order-details">
  <div class="order-info">
    <h2>ID: {{ order.id}}</h2>
    <p>Descrição: {{ order.description }}</p>
    <p>Observação: {{ order.note }}</p>
    <p>Orçamento: {{ order.quote }}</p>
    <p>Checkin: {{ order.checkin }}</p>
    <p>Checkout: {{ order.checkout }}</p>
    <p>Placa do carro: {{ order.carPlate }}</p>
    <p>CPF do dono: {{ order.customerCpf }}</p>
    <p>Estatus do pagamento: {{ order.paymentStats }}</p>
    <p>Pagamento realizado: {{ order.paymentMade }}</p>
    <p>Valor Faltante: {{ order.outstanding }}</p>
  </div>
</div>

